﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Son Nguyen</title>

    <environment include="Development, Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/semantic/dist/semantic.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style>
        .main-container {
            margin-top: 4em;
        }

        ul.nav.navbar-nav {
            font-size: 26px;
        }

        .collapse.navbar-collapse {
            text-align: center;
        }

        .nav.navbar-nav {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }

        .footer{
            margin-top: 50px !important;
        }
    </style>
</head>
<body>
    <!-- Following Menu -->
    <div class="navbar navbar-inverse navbar-fixed-top center">
        <div class="ui container container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sticky-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                </div>
            </div>
            <div class="collapse navbar-collapse" id="sticky-nav">
                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="home icon"></i>Home</a></li>
                    <li><a href="mailto:imperio4869@gmail.com"><i class="envelope outline icon"></i>E-mail</a></li>
                    <li><a href="#"><i class="suitcase icon"></i>Portfolio</a></li>
                    <li><a href="https://github.com/frost4869" target="_blank"><i class="github icon"></i>Github</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Page Contents -->
    <div class="main-container">
        @RenderBody()
    </div>

    <!-- Page Footer -->
    <div class="ui vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable horizontal small link list">
                <a class="item" href="#"><i class="circular inverted large icon facebook f"></i></a>
                <a class="item" href="#"><i class="circular inverted large linkedin in icon"></i></a>
                <a class="item" href="#"><i class="circular inverted large github icon"></i></a>
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <environment include="Development, Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script>
        $('.circular.inverted.large.icon').mouseover((e) => {
            $(e.target).transition('pulse');
        })
    </script>
</body>
</html>
