﻿@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script src="~/lib/parallax.js-1.5.0/parallax.min.js"></script>
    <script>
        $('.parallax-window').parallax({ imageSrc: '/images/test.jpg' });
    </script>
}
<style>
    .masthead.segment {
        height: 95vh;
    }

    .masthead h1.ui.header {
        margin-top: 3em;
        margin-bottom: 0em;
        font-size: 5em;
        font-weight: lighter;
    }

    .ui.text.header {
        color: white;
    }

    .inverted.header {
        font-size: 4em;
    }

    .section-header {
        font-size: 4em;
        margin-top: 50px;
    }

    .all-the-text {
        font-size: 18px;
    }

</style>
<div class="ui vertical masthead center aligned segment parallax-window" style="background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4))">
    <div class="ui container">
        <div class="ui text header">
            <h1 class="ui inverted header">
                Nguyen Vu Hoang Son
            </h1>
            <h1 class="inverted" style="font-weight:100">C# .Net Developer</h1>
        </div>
    </div>
</div>

<div class="ui center aligned text container" id="about-me">
    <div class="section-header">TL;DR</div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h2 class="ui header">
                    Yes, that is me right there. The dude, not the cutie or the lovely corgi.
                </h2>
                <p class="all-the-text">
                    I am a highly capable, C# .Net developer with experience programming everything from ASP.NET MVC, WPF to rich content responsive websites.
                </p>
                <p class="all-the-text">
                    Hard Rock and Jazz are music to my soul.
                </p>
            </div>
            <div class="six wide right floated column">
                <img src="/images/my-face.jpg" class="ui large bordered rounded image">
            </div>
        </div>
    </div>
</div>
